<tr class="user-row">
    <td class="col-xs-6 user-username"><%= user.username %></td>
    <td class="col-xs-2 user-email"><%= user.email %></td>
    <td class="col-xs-1 user-actions"><%= link_to 'View', user_path(user), class: 'btn btn-primary' %></td>
</tr>