<div class="all-users-page">
    <%= render 'layouts/navbar' %>

    <div class="all-users-content">
        <h2>All Users</h2>
        
        <div class="all-users-table">
            <table class="table table-condensed">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <% if logged_in? && current_user.isAdmin %>
                        <th>Admin?</th>
                    <% end %>
                    <th>Actions</th>
                </tr>
                <%= render @users %>
            </table>
        </div>
    </div>
</div>