<div class="user-signup-page">
    <%= render 'layouts/navbar' %>
    <%= render 'form' %>
</div>

<script>
    $(document).ready(function() {
        $('input#user_username').focus();
    });
</script>