<%= render 'layouts/navbar' %>
<div class="shopping-cart-page">
    
    <h1>Shopping Cart</h1>
    
    <div class="shopping-cart-content">
        
        <table class="table table-condensed">
            <tr>
                <th class="col-sm-5" colspan="3">Product</th>
                <th class="col-sm-2">Quantity</th>
                <th class="col-sm-2">Product Price</th>
                <th class="col-sm-3">Product Sub-Total</th>
            </tr>
            
            <%= render current_user.shoppingCartItems %>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Grand Total:</strong></td>
                <td><strong>$<%= current_user.cart_total_price %></strong></td>
            </tr>
        </table>
    </div>
</div>