<div class="home-page">
    <%= render 'layouts/navbar' %>
    
    <div class="jumbotron">
        <h1>Awesome Stuff Store</h1>
        <p>Created by Louis Wheeler using Ruby on Rails</p>
    </div>
    
    <div class="featured-products">
        <h2>Featured Products</h2>
        
        <div class="featured-products-content">
            <table class="table table-condensed">
                <%= render Product.where(:isFeatured => true) %>
            </table>
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function() {
        $('tr.product-row').click(function() {
            $(this).next('tr.product-row-detail').find('div').slideToggle(300);
        });
        $('tr.product-row-detail').click(function() {
            $(this).find('div').slideUp(300);
        });
        $('a.btn').click(function(e) {
            e.stopPropagation();
        });
        $('td.product-action-delete button.btn-danger').click(function(e) {
            e.stopPropagation();
            $($(this).attr('data-target')).modal('show');
        });
    });
</script>