<div class="home-page">
    <%= render 'layouts/navbar' %>
    
    <div class="jumbotron">
        <h1>Awesome Stuff Store</h1>
        <p>Created by Louis Wheeler using Ruby on Rails</p>
    </div>
    
    <div class="featured-products">
        <h2>Featured Products</h2>
        <hr/>
        
        <div class="featured-products-content">
            
        </div>
    </div>
    
</div>