// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.all-products-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.navbar-collapse > ul.navbar-nav > li:first-of-type > a {
        color: white;
    }
    
    div.all-products {
        margin-top: 80px;
        
        h2 {
            display: inline;
            margin-right: 65px;
        }
        
        a.btn-success {
            float: right;
            
            > span.fa-plus {
                margin-right: 5px;
            }
        }
        
        div.all-products-content {
            > table {
                margin-top: 50px;
                border-bottom: solid 1px #ddd;
                
                tr.product-row {
                    cursor: pointer;
                    
                    td.product-image > img {
                        height: 100px;
                    }
                    
                    td.product-name, td.product-price,
                    td.product-action-view, td.product-action-edit, td.product-action-delete {
                        font-size: 28px;
                        padding-top: 25px;
                    }
                    
                    td.product-action-view,
                    td.product-action-edit,
                    td.product-action-delete {
                        font-size: 28px;
                        padding-top: 25px;
                        
                        a.btn, button.btn {
                            width: 100%;
                        }
                    }
                }
                
                tr.product-row-detail {
                    border-top: none;
                    cursor: pointer;
                    
                    > td {
                        border-top: none;
                        > div {
                            display: none;
                            margin-bottom: 60px;
                        }
                    }
                }
            }
            
            div#delete-modal {
                div.modal-header {
                    border-bottom: none;
                }
            }
        }
    }
}

div.product-detail-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.product {
        margin-top: 100px;
        
        div.product-info {
            display: block;
            
            div.product-image {
                height: 180px;
                
                img {
                    height: 100%;
                }
            }
            
            div.product-description {
                
            }
            
            div.product-pricing {
                
            }
        }
        
        div.separator {
            clear: both;
            margin-bottom: 100px;
        }
        
        div.product-reviews {
            margin-bottom: 100px;
            
            div.review-body {
                max-width: 400px;
            }
        }
        
        div.product-add-review {
            margin-bottom: 200px;
            
            div.review-form {
                max-width: 400px;
                
                input, textarea {
                    margin-bottom: 20px;
                }
                
                textarea {
                    resize: vertical;
                }
                
                div.submit-btn-container {
                    text-align: center;
                }
            }
        }
    }
}

div.new-product-page {
    margin: 80px 50px 0px;
    
    div.new-product-content {
        
        div.well {
            max-width: 500px;
            margin: 50px auto 0px;
            
            input.form-control, textarea {
                margin-bottom: 20px;
            }
            
            textarea {
                resize: vertical;
            }
            
            div.submit-btn-container {
                text-align: center;
            }
        }
    }
}

div.edit-product-page {
    margin: 80px 50px 0px;
    
    div.well {
        max-width: 500px;
        margin: 50px auto 0px;
        
        input.form-control, textarea {
            margin-bottom: 20px;
        }
        
        textarea {
            resize: vertical;
        }
        
        div.submit-btn-container {
            text-align: center;
        }
    }
}