// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.all-products-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.navbar-collapse > ul.navbar-nav > li:first-of-type > a {
        color: white;
    }
    
    div.all-products {
        margin-top: 80px;
        
        h2 {
            display: inline;
            margin-right: 65px;
        }
        
        div.all-products-content > table {
            margin-top: 50px;
            border-bottom: solid 1px #ddd;
            
            tr.product-row {
                cursor: pointer;
                
                td.product-image > img {
                    height: 100px;
                }
                
                td.product-name, td.product-price, td.product-actions {
                    font-size: 28px;
                    padding-top: 25px;
                }
            }
            
            tr.product-row-detail {
                border-top: none;
                cursor: pointer;
                
                > td {
                    border-top: none;
                    > div {
                        display: none;
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}

div.product-detail-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.product {
        margin-top: 100px;
        
        div.product-info {
            display: block;
            
            div.product-image {
                height: 180px;
                
                img {
                    height: 100%;
                }
            }
            
            div.product-description {
                
            }
            
            div.product-pricing {
                
            }
        }
        
        div.separator {
            clear: both;
            margin-bottom: 100px;
        }
        
        div.product-reviews {
            margin-bottom: 100px;
            
            div.review-body {
                border: solid 1px #000000;
                border-radius: 10px;
                background-color: #eeeeee;
                padding: 20px 20px 10px;
                max-width: 400px;
            }
        }
        
        div.product-add-review {
            margin-bottom: 200px;
            
            div.review-form {
                border: solid 1px #000000;
                border-radius: 10px;
                background-color: #eeeeee;
                padding: 20px 20px 10px;
                max-width: 400px;
            }
        }
    }
}