// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-signup-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.user-signup-content {
        max-width: 500px;
        margin: 80px auto 0px;
        padding: 0px 50px;
        
        h1 {
            margin-bottom: 30px;
        }
        
        input {
            margin-bottom: 20px;
        }
        
        div.signup-btn-container, div.login-link-container {
            text-align: center;
        }
    }
}

div.user-login-page {
    
    div.user-login-content {
        margin-top: 80px;
        
        div.login-form {
            max-width: 500px;
            margin: 0px auto;
            padding: 0px 50px;
            
            h1 {
                margin-bottom: 30px;
            }
            
            input {
                margin-bottom: 20px;
            }
            
            div.login-btn-container, div.signup-link-container {
                text-align: center;
            }
        }
    }
}

div.all-users-page {
    div.navbar-collapse > ul.navbar-nav > li:nth-child(2) > a {
        color: white;
    }
    
    div.all-users-content {
        margin: 80px 50px 0px;
        
        div.all-users-table {
            margin: 50px auto 0px;
            max-width: 800px;
            
            table {
                border-bottom: solid 1px #dddddd;
                
                th {
                    padding-bottom: 15px;
                    border-top: none;
                }
            }
        }
    }
}

div.user-detail-page {
    
    div.user-detail-content {
        margin: 80px auto 0px;
    }
}