// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-signup-page {
    margin: 0px 50px;
    padding: 0px auto;
    
    div.user-signup-content {
        max-width: 500px;
        margin: 80px auto 0px;
        padding: 0px 50px;
        
        h1 {
            margin-bottom: 30px;
        }
        
        input {
            margin-bottom: 20px;
        }
        
        div.signup-btn-container, div.login-link-container {
            text-align: center;
        }
    }
}

div.user-login-page {
    
    div.user-login-content {
        margin-top: 80px;
        
        div.login-form {
            max-width: 500px;
            margin: 0px auto;
            padding: 0px 50px;
            
            h1 {
                margin-bottom: 30px;
            }
            
            input {
                margin-bottom: 20px;
            }
            
            div.login-btn-container, div.signup-link-container {
                text-align: center;
            }
        }
    }
}

div.all-users-page {
    
    div.navbar-collapse > ul.navbar-nav:not(.navbar-right) > li:nth-child(2) > a {
        color: white;
    }
    
    div.all-users-content {
        margin: 80px 50px 0px;
        
        div.all-users-table {
            margin: 50px auto 0px;
            max-width: 800px;
            
            table {
                border-bottom: solid 1px #dddddd;
                
                th {
                    padding-bottom: 15px;
                    border-top: none;
                }
                
                img {
                    height: 80px;
                }
            }
        }
    }
}

div.user-detail-page {
    margin: 0px 50px;
        
    div.navbar-collapse > ul.navbar-nav:not(.navbar-right) > li:nth-child(2) > a {
        color: white;
    }
    
    div.user-detail-content {
        margin: 80px auto 0px;
        
        img {
            height: 200px;
        }
        
        div.separator {
            clear: both;
        }
    }
}

div.edit-user-page {
    margin: 80px 50px 0px;
    
    div.navbar-collapse > ul.navbar-nav:not(.navbar-right) > li:nth-child(2) > a {
        color: white;
    }
    
    div.edit-user-content {
        margin: 0px auto;
        max-width: 500px;
        
        input.form-control {
            margin-bottom: 20px;
        }
        
        div.buttons-container {
            text-align: center;
        }
    }
}

div.shopping-cart-page {
    margin: 80px 50px 0px;
    
    div.navbar-collapse > ul.navbar-right > li:nth-child(1) > a {
        color: white;
    }
    
    div.shopping-cart-content {
        margin: 0px auto;
        
        > table.table-condensed {
            max-width: 800px;
            margin: 80px auto 0px;
            
            img {
                height: 50px;
            }
            
            tr {
                th {
                    text-align: center;
                }
                
                td {
                    vertical-align: middle;
                    text-align: center;
                    
                    span.fa-trash {
                        color: #dd0000;
                        cursor: pointer;
                    }
                    
                    span.fa-pencil {
                        color: #0000dd;
                        cursor: pointer;
                    }
                    
                    div.modal {
                        
                        div.modal-body {
                            
                            input.quantity-input {
                                width: 60px;
                                font-size: 24px;
                            }
                        }
                        
                        div.modal-footer {
                            
                            span.fa-trash {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}