<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<div class="all-products-page">
    <%= render 'layouts/navbar' %>

    <div class="all-products">
        <h2>All Products</h2>
        <%= link_to 'Create New Product', new_product_path %>
        
        <div class="all-products-content">
            <table class="table table-condensed">
                <%= render @products %>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('tr.product-row').click(function() {
            $(this).next('tr.product-row-detail').find('div').slideToggle(300);
        });
        $('tr.product-row-detail').click(function() {
            $(this).find('div').slideUp(300);
        });
        $('a.btn').click(function(e) {
            e.stopPropagation();
        });
    });
</script>