<%= form_for([@product, @product.reviews.build]) do |f| %>
    <div class="review-form well">
        
        <strong>Rating</strong>
        <%= f.number_field :rating, class: 'text_field form-control',
                                    :step => 0.1,
                                    :min => 0.0,
                                    :max => 5.0 %>
                                    
        <strong>Review</strong>
        <%= f.text_area :body, class: 'form-control' %>
        
        <div class="submit-btn-container">
            <%= f.submit "Submit Review", class: 'btn btn-success' %>
        </div>
    </div>
<% end %>