<div class="review-body well">
    <p>
        <strong>User:</strong>
        <%= review.user %>
    </p>
    <p>
        <strong><%= review.rating %> / 5.0</strong>
    </p>
    <p>
        <%= review.body %>
    </p>

    <p>
        <%= link_to 'Delete Review', [review.product, review],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    </p>
</div>