<tr class="cart-item-row">
    <td><%= shopping_cart_item.product.name %></td>
    <td><%= shopping_cart_item.quantity %></td>
    <td>$<%= shopping_cart_item.product.price %></td>
    <td>$<%= shopping_cart_item.quantity * shopping_cart_item.product.price %></td>
</tr>